.produto {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}


.card {
background-color: green;
padding: 20px;
text-align: center;
width: 250px;
float: left;
}

.footer {
background-color: gray;
flex-direction: column-reverse;
text-align: center;
font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
font-weight: bolder;
color: indigo;
}